%h1= t('.title')
%p= link_to t('.new_ping_pong'), new_ping_pong_path

%table
  %thead
    %tr
      %th= PingPong.human_attribute_name :precedent_id
      %th= PingPong.human_attribute_name :ping
      %th= PingPong.human_attribute_name :pong
      %th= PingPong.human_attribute_name :play_mode
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for ping_pong in @ping_pongs
      %tr{ :class => cycle(:odd, :even) }
        %td= ping_pong.precedent_id
        %td= ping_pong.ping
        %td= ping_pong.pong
        %td= ping_pong.play_mode
        %td.action= link_to t('show'), ping_pong
        %td.action= link_to t('edit'), edit_ping_pong_path(ping_pong)
        %td.action= link_to t('destroy'), ping_pong, :confirm => t('are_you_sure'), :method => :delete
