%h1= t '.title'
%p
  = link_to t('back'), ping_pongs_path
  = link_to t('edit'), edit_ping_pong_path(@ping_pong)

%dl
  %dt= PingPong.human_attribute_name :precedent_id
  %dd= @ping_pong.precedent_id
  %dt= PingPong.human_attribute_name :ping
  %dd= @ping_pong.ping
  %dt= PingPong.human_attribute_name :pong
  %dd= @ping_pong.pong
  %dt= PingPong.human_attribute_name :play_mode
  %dd= @ping_pong.play_mode
