- form_for @ping_pong, :remote => true, :html => {:id => 'form'} do |f|

	#ping_display= @ping_pong.ping
	= f.hidden_field :ping, :id => 'ping'
	
	#mode_display --placeholder text--
	= f.hidden_field :mode, :id => 'mode'
	
	= f.text_field :pong, :id => 'pong', :class => 'tk-ff-tisa-web-pro'

	= f.hidden_field :precedent_id
	= hidden_field_tag :blacklist, @ping_pong.ping, :id => "blacklist"
	
	= f.submit 'Next', :id => "submit"