<!DOCTYPE html> 
%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
		= csrf_meta_tag # required for rails 3 js
		%title= page_title
		
		= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
		= stylesheet_link_tag 'compiled/print.css', :media => 'print'
		/[if IE]
			= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
			
		= javascripts
		
		= enable_typekit "pfz4bwx"
	%body
	
		#header
			.container
				
				%h1#logo WordPong
			
				%ul.mode_select
					%li Mode:
					- configatron.mode_keys.each do |key|
						%li= link_to_function "#{key.humanize.titlecase}", "Mode.set('#{key}')", :id => "#{key}_mode_select"
							
		#content
			.container
				= yield